[include]
        path = ~/.gitconfig_local
[core]
        excludesfile = /Users/yyoshiki41/.gitignore_global
[color]
        ui = true

[alias]
        alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
        st = status
        di = diff
        sh = show
        ss = stash
        blL = blame -L
        lsf = ls-files
        chpk = cherry-pick
# log (lg)
        lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lga = log --graph --date=iso --name-status --pretty=format:'%C(red)%h %C(green)%an %C(blue)%ad %Creset%s %C(yellow)%d%Creset'
        story = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
# branch (br)
        br  = branch
        bra = branch -a
        brr = branch -r
        brm = branch -m
        brD = branch -D
# checkout (ch)
        ch  = checkout
        chb = checkout -b
        chm = checkout master
        chd = checkout develop
# add (a)
        a  = add
        aa = add .
# commit (c)
        c   = commit
        ca  = commit -a
        cm  = commit -m
        cam = commit --amend
# remove (rm)
        rm  = remove
# push (ps)
        ps  = push
        pso = push origin
        psd = push develop
# pull (pl)
        pl   = pull
        plo  = pull origin
        pld  = pull develop
        plod = pull origin develop
        plom = pull origin master
# rebase (rb)
        rbm = rebase master
        rbd = rebase develop
        rbi = rebase -i
        rbH = rebase -i HEAD^^
        rbc = rebase --continue
        rba = rebase --abort
# fetch (ft)
        ft  = fetch
        ftp = fetch --prune
# revert (rv)
        rv  = revert
        rvH = revert HEAD
# reset (rs)
        rs  = reset
        rss = reset --soft
        rsh = reset --hard
        rsH = reset --hard HEAD

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[user]
	name = yyoshiki41
	email = yyoshiki41@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
