[include]
	path = ~/.gitconfig_local
[core]
	excludesfile = ~/.gitignore_global
	editor = /usr/local/bin/vim
[color]
	ui = true
	diff = always
[pull]
	ff = only
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = yyoshiki41
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = ~/repos/src

[alias]
        alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
        refresh = !git fetch origin && git remote prune origin
        st = status
        sh = show
        ss = stash
        blL = blame -L
        lsf = ls-files
        chpk = cherry-pick
# log (lg)
        lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        lga = log --graph --date=iso --name-status --pretty=format:'%C(red)%h %C(green)%an %C(blue)%ad %Creset%s %C(yellow)%d%Creset'
        ld  = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
        story = log --graph --branches --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(green)- %an, %cr%Creset'
# branch (br)
        br  = branch
        bra = branch -a
        brr = branch -r
        brm = branch -m
        brD = branch -D
# checkout (ch)
        ch  = checkout
        chb = checkout -b
        chm = checkout master
        chd = checkout develop
# add (a)
        a  = add
        aa = add .
# diff (di)
        di = diff
        d1 = diff HEAD~
        d2 = diff HEAD~2
        d3 = diff HEAD~3
        diw = diff --word-diff
# commit (c)
        c   = commit
        ca  = commit -a
        cm  = commit -m
        cam = commit --amend
# remove (rm)
        rm  = remove
# remote (rpo)
        rpo = remote prune origin
# push (ps)
        ps  = push
        pso = push origin
        psd = push develop
        psf = push --force-with-lease
# pull (pl)
        pl   = pull
        plo  = pull origin
        pld  = pull develop
        plr  = pull --rebase
        plod = pull origin develop
        plom = pull origin master
# rebase (rb)
        rbm = rebase master
        rbd = rebase develop
        rbi = rebase -i
        rbH = rebase -i HEAD^^
        rbc = rebase --continue
        rba = rebase --abort
# fetch (ft)
        ft  = fetch
        ftp = fetch --prune
# revert (rv)
        rv  = revert
        rvH = revert HEAD
        rvm = revert -m 1
# reset (rs)
        rs  = reset
        rss = reset --soft
        rsh = reset --hard
        rsH = reset --hard HEAD
